.Card {
    height: 200px;
    width: 160px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    /* justify-content: center; */
    /* align-items: center; */
    justify-items: center;
}